*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --primary-dark:#1F2937;
    --primary-green:#6EEfB7;
}


body{
    display: flex;
    justify-content: center;
    color: var(--primary-green);
    background-color: var(--primary-dark);
}


.container{
    margin-top: 3rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contents{
    margin: 4rem;
    width: 30vw;
    display: block;
}

h1{
    text-align: center;
    font-size: 3rem;
    /* margin-bottom: 4rem; */
}
input,label{
    display: block;
    font-size: 1.5rem;
}

input{
    margin-bottom: 1rem;
    width: 30vw;
}

span{
        display: flex;
        align-items: center;
        flex-direction: column;
}

button{
    margin: 2rem;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 0.3rem;
    color: #1F2937;
    background-color: var(--primary-green);
}

p{
    height: 12vh;
    width: 25vw;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #495669;
    color: var(--primary-green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    visibility: hidden;
}